{
  "openapi": "3.0.3",
  "info": {
    "title": "OMGhost SVG Generation API",
    "version": "1.0.0",
    "description": "x402-enabled API for generating custom SVG icons in various styles"
  },
  "servers": [
    {
      "url": "https://omghost.xyz",
      "description": "Production"
    }
  ],
  "paths": {
    "/api/generate": {
      "post": {
        "summary": "Generate a custom SVG icon",
        "description": "Generate a custom SVG icon in your chosen style. Requires x402 payment ($0.10 USDC on Base).",
        "operationId": "generateSvg",
        "x-agentcash-auth": {
          "mode": "paid"
        },
        "x-payment-info": {
          "protocols": ["x402"],
          "pricingMode": "fixed",
          "price": "0.10"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["styleName"],
                "properties": {
                  "styleName": {
                    "type": "string",
                    "description": "Name of the icon style to use (e.g. 'geometric', 'minimalist')",
                    "minLength": 1
                  },
                  "brandName": {
                    "type": "string",
                    "description": "Brand name to incorporate into the icon",
                    "minLength": 1,
                    "maxLength": 100
                  },
                  "brandVoice": {
                    "type": "string",
                    "description": "Brand voice or style description to guide generation",
                    "maxLength": 500
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Generation job created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jobId": {
                      "type": "string",
                      "description": "Generation job ID for polling status"
                    },
                    "runId": {
                      "type": "string",
                      "description": "Workflow run ID"
                    },
                    "status": {
                      "type": "string",
                      "enum": ["pending"],
                      "description": "Initial job status"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required"
          },
          "400": {
            "description": "Invalid request parameters"
          },
          "404": {
            "description": "Style not found"
          }
        }
      }
    }
  }
}
